[submodule "app-build/dotnet-builder/TaskTrainAPI"]
	path = app-build/dotnet-builder/TaskTrainAPI
	url = https://github.com/Pechinyock/TaskTrainAPI.git
[submodule "app-build/dotnet-builder/TaskTrainWebClient"]
	path = app-build/dotnet-builder/TaskTrainWebClient
	url = https://github.com/Pechinyock/TaskTrainWebClient.git
[submodule "app-build/dotnet-builder/TaskTrainLib"]
	path = app-build/dotnet-builder/TaskTrainLib
	url = https://github.com/Pechinyock/TaskTrainLib.git
